

/* ----- PORTFOLIO ----- */
.portfolio {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  box-shadow: 0 3px 15px #00000023;
  max-width: 140rem;
  background: #ffffff;
  border-radius: 6px;
  margin: 0 3rem;
}

.portfolio-projects,
.portfolio-work,
.portfolio-education {
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  border-right: 1px solid #c5c5c5;
  font-size: 1.6rem;
}

.portfolio-work {
  padding: 0;
}

.portfolio-education {
  border: none;
}

.portfolio-title,
.reviews-title,
.footer-title {
  font-size: 2.4rem;
  font-family: var(--font-main);
}

.project-list {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
}

.project-item {
  border-bottom: 1px solid #c5c5c5;
  padding: 1rem 2rem;
  margin: 0 -2rem;
  transition: background-color 0.2s ease;
}

.project-item:last-child {
  border: none;
}

.project-item:hover {
  background-color: #e5e5e5;
}

.portfolio-exp,
.portfolio-op {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid #c5c5c5;
}

.portfolio-exp {
  padding: 2rem;
}

.portfolio-op {
  border: none;
}

.portfolio-link {
  color: #448ccd;
}

.education-list {
  list-style: none;
}

.education-item::before {
  content: '- ';
}

/* ----- REVIEWS ----- */
.reviews {
  padding: 2rem;
  font-size: 1.6rem;
  display: flex;
  flex-flow: column wrap;
  gap: 3rem;
  align-items: center;
  margin-top: 6rem;
}

.teacher-article {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 120rem;
  gap: 5rem;
}

.review-card {
  padding: 2rem;
  border-radius: 30px;
  max-width: 25rem;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  box-shadow: 0 5px 15px #00000023;
  background-color: #ffffff;
}

.figurecaption {
  opacity: 0.7;
}

/* ----- MOBILE ----- */
@media (max-width: 768px) {
  .hero {
    height: 30rem;
  }

  .portfolio {
    grid-template-columns: 1fr;
  }

  .portfolio-projects {
    text-align: center;
  }

  .portfolio-title,
  .reviews-title,
  .footer-title {
    text-align: center;
  }

  .project-item:last-child {
    border: none;
    border-bottom: 1px solid #c5c5c5;
  }

  .portfolio-op {
    border-bottom: 1px solid #c5c5c5;
    padding: 2rem;
  }
}
