/* ----- RESET ----- */
:root {
  font-size: 62.5%;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:focus {
  outline: none;
}



/* ----- DATE ----- */
.datepicker {
  display: flex;
  flex-direction: column;
  width: 28rem;
  gap: 0.8rem;
}

.date {
  display: flex;
  box-shadow: 0 0 10px #0006;
  border-radius: 6px;
  padding: 0.8rem;
  background-color: #fff;
  justify-content: space-between;
}

.btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.icon {
  width: 2rem;
}

.input-date {
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: .5;
}

/* ----- PICKER ----- */
.picker {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2.5rem 2rem 1.5rem 2rem;
  border-radius: 6px;
  box-shadow: 0 0 10px #0006;
  font-size: 1.4rem;
  gap: 1rem;
}

.month-wrapper {
  display: flex;
  gap: 1.5rem;
}

.month {
  margin-right: auto;
  font-size: 1.6rem;
}

.week-days,
.items-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.8rem 0.5rem;
  text-align: center;
}

.week-days {
  border-bottom: 2px solid #0005;
  border-radius: 2px;
  font-weight: bold;
}

.picker__day {
  padding: 0.7rem 0.5rem;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.picker__day:nth-child(-n + 4) {
  opacity: 0.5;
}

.picker__day:hover {
  background-color: #ddd;
}
